In [ ]:
first_name = "Amos"
last_name = "Watti"
age = 12 
origin = "Two Town"
print("Hello everyone!!!. \n my name is", first_name, last_name, "I am", age, "year old, from ", origin)

In [ ]:
first_name = input ("please inter your first name")
last_name = input ("please inter your last name")
age = input("how old are you") 
origin = input("what town are you from") 
print("Hello everyone!!!.\n my name is", first_name, last_name, "I am", age, "year old, from ", origin)

In [1]:
first_name = input ("please inter your first name")
last_name = input ("please inter your last name")
age = input("how old are you") 
origin = input("what town are you from") 
print("Hello everyone!!!.\n my name is", first_name, last_name, "I am", age, "year old, from ", origin)

please inter your first nameAmos
please inter your last name     Watti
how old are you  33
what town are you from Lagos
Hello everyone!!!.
 my name is Amos      Watti I am   33 year old, from   Lagos

# INTRODUCTION TO PYTHON

In [2]:
# Python is fun to learn

1. The name of a person
2. The view point

In [1]:
# write a python script to take two numbers from a user and sum of the numbers
number1 = int(input("please enter the first number "))
number2 = int(input("please enter the second number "))
total = number1 + number2
print("The sum of the number entered is", total)

please enter the first number2
please enter the second number7
The sum of the number entered is 9

# OPERATORS IN PYTHON

Operator is used to manipulate operand
1. Arithmetic
2. Comaprison
3. Identity 
4. Membership
5. Logical 
6. Assignment
7. Bitwise

# Arithmetic

In [3]:
# Addition (+)
a = 12
b = 20
c = a=b
print(c)

20

In [4]:
# Substraction (-)
a = 12
b = 20
c = a-b
print(c)

-8

In [5]:
# Division (/)
a = 12
b = 20
c = a/b
print(c)

0.6

In [7]:
# Modulus (%): return remainder of division
a = 10
b = 3
c = a%b
print(c)

1

In [8]:
# Modulus (%): return remainder of division
a = 20
b = 10
c = a%b
print(c)

0

# Comparison
It can be used to comapare two or more variable and the outcome is BULIAN(TRUE OR FALSE)

In [9]:
# Greater than(>)
a = 6
b = 20
a>b

False

In [10]:
# Greater than or equal to(>=)
a = 6
b = 20
a<=b

True

In [11]:
# Less than(>)
a = 6
b = 20
a<b

True

In [12]:
# equal to (==)
a = 10
v = 9
a== v # comapring

False

In [13]:
a=v # assigning

In [14]:
a==v # comparing

True

# Assignment

In [15]:
# equal to
a = 4

In [17]:
# increament
a = 2
a+=1
print(a)

3

In [18]:
# increament
ola = 2
print("value of ola before increament ", ola)
ola +=8 # increase the initial of a with 1
print("value of ola after increament ", ola)

value of ola before increament  2
value of ola after increament  10

In [19]:
# decreament
ola = 2
print("value of ola before decrease ", ola)
ola -=8 # decrease the initial of a with 1
print("value of ola after decreament ", ola)

value of ola before decrease  2
value of ola after decreament  -6


# MEMBERSHIP

In [22]:
# Membership
#in/ not in
7 in [1,2,3,45,7]

True

In [24]:
7  not in[1,2,3,45,7]

False

In [25]:
a =4
b= 4
a is b

True

In [27]:
a ="Ola"
b= "ola"
a is b

False

# LOGICAL

In [28]:
# and/ or
(12> 4) and (8<2)

False

In [29]:
(12> 4) and (8>2)

True

# Datatype in Python

Mutable Datatype: It can be modified after declaration
- list
- dictionary
- Set
Immutable : They can be modify after decalaration
- number
- str
- tuple

In [32]:
# str: are sequence of characters
name = 'olaitan'
name = "olaitan"
name = """this string is 
          very long in such 
          a way that i need to 
          come to the lines"""

In [ ]:
# NUMBER
. int_ = 1928 old numbers
. float_= 293834.884
. complex_= 3+3

# Indexing and Slicing

In [33]:
name = "olaitan"
# return o from olaitan
name[0] # forward indexing

'o'

In [34]:
name[-7] # backward indexing

'o'

In [35]:
name[3] #forward indexing returning i

'i'

In [36]:
name[-6] # backward indexing retirning l

'l'

In [37]:
#slicing

In [ ]:
[index no: position no: skip no]

In [ ]:
#index no start from 0 when counting

In [39]:
# return ai from olaitan

In [40]:
name[2:4]

'ai'

In [41]:
info = "python is fun to learn"
# return fun from the variable
info[10:13]

'fun'

In [42]:
name[:]

'olaitan'

In [43]:
name[0:7]

'olaitan'

In [44]:
name[0:7: 5]

'oa'

In [ ]:
info = "Python is fun to learn"
# return "if  a"

In [66]:
info[7:20:3]

'if  a'

# STRING METHOD
Is a unique function for datatype that we have
1. Split
2. strip
3. endswith
4. startwith
5. upper/lower
6. format

In [67]:
info

'python is fun to learn'

In [75]:
# split is used to split string at any given space or specified character. the output is list
info.split()

['python', 'is', 'fun', 'to', 'learn']

In [77]:
gist = "My/name/is/olaitan/and/i/am/taking/python/class"
gist.split("/")

['My', 'name', 'is', 'olaitan', 'and', 'i', 'am', 'taking', 'python', 'class']

In [78]:
name = "olaitan"
name.strip()

'olaitan'

In [79]:
name ="{{{{///olaitan>>>>////"
name.strip("{").strip("/").strip(">")

'olaitan'

In [1]:
# Ends With

In [2]:
name = "olaitan"
name.endswith("n")

True

In [3]:
name = "olaitan"
name.endswith("z")

False

In [4]:
#Start With

In [6]:
name = "olaitan"
name.endswith("z")

False

In [8]:
name

'olaitan'

In [17]:
name = "olaitan"
name = name.upper()
name

'OLAITAN'

In [18]:
name

'OLAITAN'

In [21]:
name = "olaitan"
name =name.lower()
name

'olaitan'

In [22]:
name = "olaitan"
name = name.replace("i", "y")
print(name)

olaytan

In [23]:
name.find("z")

-1

In [24]:
name = "olaitan"
name = name.replace("olaitan", "tosin")
print(name)

tosin

In [26]:
#List

In [ ]:
lis =[       ] # an empty list

In [27]:
lis1 = ["cow", 2, 6.6, [23,5], "JAMES", "sancho", "rice", "white"  ]
lis1[5]

'sancho'

In [28]:
lis1[3][1]

5

In [30]:
lis1[0:6]

['cow', 2, 6.6, [23, 5], 'JAMES', 'sancho']

In [ ]:
# Method of List
1. append: is used to add element to the end of a list
2. pop: is used to removes elements at specific index
3. remove: is ued to delete element specified
4. sort: is ued to sort element of a list

In [32]:
lis = [1,"kola", "ade"]
lis.append("elepant")
print(lis)

[1, 'kola', 'ade', 'elepant']

In [33]:
lis = [1,"kola", "ade"]
lis.pop()

'ade'

In [34]:
lis = [1,"kola", "ade"]
name =lis.pop()
print(lis)
print(name)

[1, 'kola']
ade

In [35]:
lis = [1,"kola", "ade"]
name =lis.pop(1)
print(lis)
print(name)

[1, 'ade']
kola

In [ ]:
# Remove

In [36]:
lis = [7,"kola", "ade"]
lis.remove(7)
print(lis)

['kola', 'ade']

In [38]:
lis = [7,"kola", "ade"]
lis.remove("ade")
print(lis)

[7, 'kola']

In [ ]:
# Sort

In [40]:
lis =[2,7,3,10,4,7,8]
lis.sort()
print(lis)

[2, 3, 4, 7, 7, 8, 10]

In [42]:
lis =[2,7,3,10,4,7,8]
lis.sort(reverse=True)
print(lis)

[10, 8, 7, 7, 4, 3, 2]

In [45]:
lis =[2,7,3,10,4,7,8]
lis.sort(reverse=False)
print(lis)

[2, 3, 4, 7, 7, 8, 10]

# Modify The Element of a List

In [43]:
lis1 = ["cow", 2, 6.6, [23,5], "JAMES", "sancho", "rice", "white"  ]
# change sancho to rashford
lis1[5]

'sancho'

In [44]:
lis1 = ["cow", 2, 6.6, [23,5], "JAMES", "sancho", "rice", "white"  ]
# change sancho to rashford
lis1[5] = "rashford"
print(lis1)

['cow', 2, 6.6, [23, 5], 'JAMES', 'rashford', 'rice', 'white']

In [ ]:
#Tuple

tup =(       ) #an empty tuple

In [47]:
tup = (2, "kazeem", "olaitan", "james", "ada", [2,3,6,7])
tup[5][1]

3

In [48]:
tup.count(2)

1

In [ ]:
#SET
it remove duplicate entry or set

In [50]:
set1 ={ 2,9,0,5}
set1

{0, 2, 5, 9}

In [51]:
set1 ={ 100,300,7,2,9,0,5,2,2,2}
set1

{0, 2, 5, 7, 9, 100, 300}

In [ ]:
# Dictionary: It has key(:) and value pair relatioship

In [55]:
dic ={"name":"olaitan", "age":12, "address":"olowoira"}

In [56]:
dic

{'name': 'olaitan', 'age': 12, 'address': 'olowoira'}

In [57]:
# change age from 12 to 45
dic["age"] =45
print(dic)

{'name': 'olaitan', 'age': 45, 'address': 'olowoira'}

In [58]:
# adding new element to dictionary
dic ={"name":"olaitan", "age":12, "address":"olowoira"}
dic["salary"] = 12235432
print(dic)

{'name': 'olaitan', 'age': 12, 'address': 'olowoira', 'salary': 12235432}

In [59]:
dic.pop("name") #it is used to remove a key or element
dic

{'age': 12, 'address': 'olowoira', 'salary': 12235432}

In [ ]:
# dictionary of List

In [62]:
dic ={"name":["olaitan","kazeem", "james","sancho"],
      "age":[12,13,66,77], "address":["olowoira", "berger", "A", "K"]}
print(dic)

{'name': ['olaitan', 'kazeem', 'james', 'sancho'], 'age': [12, 13, 66, 77], 'address': ['olowoira', 'berger', 'A', 'K']}

In [68]:
dic["address"][1]="Arepo"
print(dic)

{'name': ['olaitan', 'kazeem', 'james', 'sancho'], 'age': [12, 13, 66, 77], 'address': ['olowoira', 'Arepo', 'A', 'K']}

In [69]:
ola={"name":["olaitan","kazeem", "james","sancho"],
      "age":[12,13,66,77], "address":["olowoira", "berger", "A", "K"]}
print(ola)

{'name': ['olaitan', 'kazeem', 'james', 'sancho'], 'age': [12, 13, 66, 77], 'address': ['olowoira', 'berger', 'A', 'K']}

# CONTROL FLOW 
They are order in which python code is being executed
1. Conditional Statemet
  a. if
  b. elif
  c. else
 
 # loop Statement
   a.for loop
   b. while loop
   
 # Error Handling Statement
  a. try
  b. except
  c. finally

In [ ]:
# IF- for every control flow column(:) must end it

In [70]:
name = "oloaitan"
if name.endswith("n"):
    print("we are cool at this point")
    w=3
    t=5
    print(w+t)

we are cool at this point
8

In [74]:
name = "oloaitan"
if name.endswith("z"):
    print("we are cool at this point")
    w=3
    t=5
    print(w+t)
else:
    print("i am running because your condition is false")

i am running because your condition is false

In [ ]:
#elif

In [78]:
num1 = int(input())
num2 = int(input())
if (num1>10) and (num2<20):
    total =num1 + num2
    print(total)
elif (num1==10) and (num2==20):
    print("fine")
    print(num1 + num2)
elif (num1<10) and (num2>20):
    print(num2 - num1)
else:
    print("what other combination did you think of")

10
20
fine
30

In [79]:
num1 = int(input())
num2 = int(input())
if (num1>10) and (num2<20):
    total =num1 + num2
    print(total)
if (num1==10) and (num2==20):
    print("fine")
    print(num1 + num2)
if (num1<10) and (num2>20):
    print(num2 - num1)
else:
    print("what other combination did you think of")

10
20
fine
30
what other combination did you think of

In [80]:
num1 = int(input())
num2 = int(input())
if (num1>10) and (num2<20):
    total =num1 + num2
    print(total)
if (num1==10) and (num2==20):
    print("fine")
    print(num1 + num2)
if (num1<10) and (num2>20):
    print(num2 - num1)
else:
    print("what other combination did you think of")

20
10
30
what other combination did you think of

In [ ]:
#loop statement is used to iterate over an iterable element
i. for loop
ii. while loop

In [84]:
name = "olaitan"
name

'olaitan'

In [85]:
name="olaitan"
for i in name:
    print(i)

o
l
a
i
t
a
n

In [86]:
lis1=["olaitan","james", "ayo"]
for i in lis1:
    print(i)

olaitan
james
ayo

# RANGE
IT print integers

In [ ]:
range(str, end, skip)

In [87]:
range(10)

range(0, 10)

In [90]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [91]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [95]:
even = []
odd = []
print("the element in even list before updating ", even)
print("the element in odd list before updating ", odd)
for i in range(0,21):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print("the element in even list before updating ", even,  "\n")
print("the element in odd list before updating ", odd, "\n")

the element in even list before updating  []
the element in odd list before updating  []
the element in even list before updating  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

the element in odd list before updating  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# while loop: It check for condition, if the condition is valid, what ever is in the block of while is executed

In [99]:
counter =0
while counter<=5:# as far as counter is less than or equal to 5 continue with while
    print("we are inside while loop {}".format(counter))
    counter+=1

we are inside while loop 0
we are inside while loop 1
we are inside while loop 2
we are inside while loop 3
we are inside while loop 4
we are inside while loop 5

In [ ]:
#FORMAT: IS ALSO A METHOD OF STRINGS

In [98]:
name = input("enter your name  ")
age = input("enter your age  ")
print("my name is{} and i am {} years old".format(name,age))

enter your name  Amos
enter your age  20
my name isAmos and i am 20 years old

In [1]:
while True:
    user_input = input()
    if user_input== "quit":
        break
        print("the user name is", user_input)

quit

In [10]:
while True:
    user_input = input().upper()
    if user_input== "QUIT":
        break
        print("the user name is", user_input)

Quit

'GGG'

In [21]:
even=[]
odd=[]
num = range(21)
for i in num:
    if i==12:
        break
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[0, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9, 11]

In [ ]:
#continue: will skip when the point of condition is met and go ahead with the rest of the element

In [22]:
even=[]
odd=[]
num = range(21)
for i in num:
    if i==12:
        continue
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[0, 2, 4, 6, 8, 10, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [30]:
for a in range(1,23):
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [33]:
user =(input().split()   )
print(user)
total=int(user[0]) + int(user[4])
print(total)

1 2 3 4 5 6 7 8
['1', '2', '3', '4', '5', '6', '7', '8']
6

In [ ]:
# Split change the string to list, as done above

In [37]:
user =(input().split()   )
print(user)
total=int(user[0]) + int(user[4])
if total>20:
    print("i dont want Manchester City to win the League")
else:
    print("Arsenal will win, though, i didnt like them")

2 5
['2', '5']

IndexError: list index out of range

# Error Handling Statement

In [ ]:
try: will help to inspect error in the code
except: helps to execute

In [39]:
try:
    user =(input().split()   )
    print(user)
    total=int(user[0]) + int(user[4])
    if total>20:
        print("i dont want Manchester City to win the League")
    else:
        print("Arsenal will win, though, i didnt like them")
    
except:
    total = int(user[0]) + int(user[-1])
    print("the length of the list is not upto 5, so the sum at the end is", total)

2 3
['2', '3']
the length of the list is not upto 5, so the sum at the end is 5

In [ ]:
# finally: Will always be executed weather there is error or not

In [40]:
try:
    user =(input().split()   )
    print(user)
    total=int(user[0]) + int(user[4])
    if total>20:
        print("i dont want Manchester City to win the League")
    else:
        print("Arsenal will win, though, i didnt like them")
    
except:
    total = int(user[0]) + int(user[-1])
    print("the length of the list is not upto 5, so the sum at the end is", total)
finally:
    print("finally will always be executed weather there is error or not")

4 3
['4', '3']
the length of the list is not upto 5, so the sum at the end is 7
finally will always be executed weather there is error or not

# FUNCTIONS IN PYTHON
## Fumction are group of statement to perform a specific task 
## Type of Function
1. Inbuit : They come along with python software
2. User define function: They are designed by Programmers; the purpose is to avoid "dry"(Dont Repeat Yourself)

In [41]:
# def(definition)
def greeting(): # non parameter function(it does not take in any parameter)
    print("hello everyone, you are welcome to lasop!!!")

In [43]:
greeting() # this calls out

hello everyone, you are welcome to lasop!!!

In [44]:
def add_two_num(w,i):
    total = w + i
    return total

In [45]:
add_two_num(23,9)

32

In [52]:
def minute_conversion(minute):
    sec = 60 * minute
    return sec

In [53]:
minute_conversion(4)

240

In [54]:
minute_conversion(30)

1800

In [57]:
def sec_conversion(second):
    minute=60* second
    return minute

In [58]:
sec_conversion(30)

1800

In [63]:
def area_of_rectangle(h , b):
    area=1/2 * h*b
    return area

In [65]:
area_of_rectangle(2, 9)

9.0

In [1]:
def area_of_rectangle(h , b):
    area=1/2 * h*b
    return area

In [2]:
 area_of_rectangle(9,12)

54.0